---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import List from '../components/List.astro';
---

<Layout title="Link tree | Mohamed Samy">
  <main class="container" id="container">
    <Profile />
    <List />
  </main>
</Layout>
